.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
}


.navbar-brand a {
  color: #ffffff;
}

.card{
  max-width: 600px;
  margin-left: 40%;
  margin-right: 40%;
  justify-content: space-between;
  display: flex;
}